* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-size: 16px;
}


  
@font-face {
    font-family: Neue Med;
    src: url(./Font/NeueMontreal-Medium.otf);
    font-family: Neue Light;
    src: url(./Font/NeueMontreal-Light.otf);
    font-family: Neue Normal;
    src: url(./Font/NeueMontreal-Regular.otf);
}

/* Header */

/* header {
    position: relative;
} */

.header-nav {
    font-family: Inter, sans-serif;
    position: fixed;
    width: 23em;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.header-links {
    display: flex;
    justify-content: space-around;
    padding-block: 1.1em;
    font-size: 1.1rem;
    background-color: #e8e5e480;
    border-radius: 30px;
    font-family: 'Neue Normal', sans-serif;
}
.header-links a:hover {
    color: #7f7f7f;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* .active {
    background-color: #fff;
    border-radius: 30px;
    padding: 0.8em 2em;
} */

/* Header end */


/* Hero Section */
.main-hero-heading {
    font-family: 'Neue Normal', sans-serif;
    font-size: 5.5rem;
    text-align: center;
    font-weight: bolder;
    max-width: 60%;
    margin: 0.7em auto;
    padding-top: 2em;
    /* margin: 0em auto 0.5em; */
}

/* .active-hero, .p:hover {
    background-color: #e8e5e480;
    padding: 0.6em 1.12em;
    border-radius: 30px;
}  */

.expertise {
    display: flex;
    font-family: 'Neue Med', sans-serif;
    font-size: 1.08rem;
    gap: 1em;
    justify-content: center;
    align-items: center;
    letter-spacing: normal;
    margin-bottom: 5rem;
}  /* Hero End */


.active-hero {
    background-color: #e8e5e480;
    padding: 0.5em 1em;
    border-radius: 30px;
}
/* Main Section */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin: 3em 2.3em;
    row-gap: 2.5em;
    column-gap: 1.2em;
}

.container img {
    display: block;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
    position: relative;
}

.container video {
    display: block;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
} /* Main End */

/* Footer/////// */

footer {
    margin-top: 9em;
}


.footer-heading-container {
    text-align: center;
}
.heading_2 { 
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Neue Light', sans-serif;
   font-weight: lighter;
}
    
.get-in-touch {
    color: #7f7f7f;
    font-family: 'Neue Normal', sans-serif;
    font-weight: bold;
    font-size: 2.9rem;
    cursor: pointer;
}


.get-in-touch:hover {
    color: black;
}


.logo-copyright > img {
    width: 30px;
    height: 35px;
}


.footer-copyright {
    display: flex;
    justify-content: space-between;
    font-family: 'Neue Light', sans-serif;
    text-align: center;
    width: 95%; 
    margin: 10em auto;
    font-size: 1.1rem;
    margin-bottom: 3em;


}
.footer-links {
    display: flex;
    gap: 1em;
    justify-content: center;
    text-align: center;

}

.footer-links  a:hover {
    color: #7f7f7f;

} 
.logo-copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5em;
}

/* Footer End */



/* Fixed Shop Button */
.sticky-shop {
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    border-radius: 30px;
    z-index: 100;
    cursor: pointer;
}

.sticky-shop > img {
    left: -70px;
    position: relative;
    width: 13px;    
}

.sticky-shop-btn {
    color: #fff;
    position: relative;
    font-family: 'Neue Light', sans-serif;
    left: 15px;
    font-weight: lighter;
    font-size: 1rem;
    padding: 0.8em 1.75em;
} /* Fixed Shop Button End */

















/* Media Queries */
@media (max-width: 1200px) {
    .main-hero-heading {
        font-size: clamp(4rem, 2.5rem, 2rem);
    }        
}


@media (max-width: 800px) {
    .main-hero-heading {
        font-size: clamp(3rem, 2.5rem, 2rem);
        padding-top:3em;
        max-width: 90%;
    }
    .expertise {
        font-size: 0.92rem;
    }    
    .footer-links {
        padding-bottom: 2em;
    }
    .footer-copyright, .logo-copyright {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
}


/* animation */
/* .fadeup {
    transform: translateY(70px);
    opacity: 1;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: linear;
  }
 
  .in-view {
    transform: none;
    opacity: 0;
}

.in-view.fadeup, .in-view .fadeup{ 
    transform: translateY(0px);
    opacity: 1;
}
 */


