* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-size: 16px;
}

@font-face {
    font-family: Neue Med;
    src: url(./Font/NeueMontreal-Medium.otf);
    font-family: Neue Light;
    src: url(./Font/NeueMontreal-Light.otf);
    font-family: Neue Normal;
    src: url(./Font/NeueMontreal-Regular.otf);
}

/* Header */

header {
    position: relative;
}

.header-nav {
    font-family: Inter, sans-serif;
    margin: 3em auto;
    position: fixed;
    width: 18em;
    inset: -25px;    
    z-index: 100;
}

.header-links {
    display: flex;
    gap: 2.2em;
    padding: 1.2em 0em;
    font-size: 0.86rem;
    background-color: #e8e5e480;
    border-radius: 30px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 0.3em;
}

.active, .a:hover {
    background-color: #fff;
    padding: 0.7em 1.2em;
    border-radius: 30px;
    padding: 0.8em 2em;
}

/* Header end */


/* Hero Section */
h1 {
    font-family: 'Neue Normal', sans-serif;
    font-size: 4.5rem;
    text-align: center;
    font-weight: 500;
    max-width: 45rem;
    margin: 2em auto 0.5em;
}

.active-hero, .p:hover {
    background-color: #e8e5e480;
    padding: 0.6em 1.12em;
    border-radius: 30px;
} 

.expertise {
    display: flex;
    font-family: 'Neue Med', sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
    gap: 1em;
    justify-content: center;
    align-items: center;
    letter-spacing: normal;
    margin-bottom: 5rem;
}  /* Hero End */

/* Main Section */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 3em 2.3em;
    row-gap: 2.5em;
    column-gap: 1.2em;
}

.container img {
    display: block;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
    position: relative;
}

.container video {
    display: block;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
} /* Main End */

/* Footer/////// */

footer {
    margin-top: 9em;
}

.heading_2 { 
    text-align: center;
    font-size: 2.3rem;
    font-family: 'Neue Med', sans-serif;
   font-weight: lighter;
}
    
footer > a {
    color: #7f7f7f;
    font-family: 'Neue Normal', sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    display: block;
    font-size: 2.2rem;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
    animation-duration: 1ms;
    background: linear-gradient(90%, black, transparent);
    margin-bottom: 4em;
}


footer > a:hover {
    color: #000;
}

.footer-copyright {
    display: flex;
    margin-left: 2.5em;
    font-family: 'Neue Light', sans-serif;
    gap: 0.2em;
    margin-top: 6em;
    margin-bottom: 1.7em;
}

.footer-copyright > img {
    width: 30px;
}

.footer-copyright > p {
    margin-top: 0.9em;
    margin-right: auto;
    font-size: 0.87rem;
} 

.footer-copyright  > a {
    padding-right: 1.5em;
    font-family: 'Neue Light', sans-serif;
    font-size: 0.83rem;
} 

.footer-copyright  > a:hover {
    color: #7f7f7f;
} /* Footer End */



/* Fixed Shop Button */
.sticky-shop {
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    transform: translate(50%, 50%);
    top: 81%;
    left: 42.5%;
    background-color: black;
    border-radius: 30px;
    z-index: 100;
    cursor: pointer;
}

.sticky-shop > img {
    left: -70px;
    position: relative;
    width: 13px;    
}

.sticky-shop h4 {
    color: #fff;
        position: relative;
    font-family: 'Neue Light', sans-serif;
    left: 15px;
    font-weight: lighter;
    font-size: 0.88rem;
    padding: 0.8em 1.75em;
} /* Fixed Shop Button End */


















/* Media Queries */
@media (max-width: 460px) {
    .container {
    margin: 3em 1.2em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}